body {
    background-image: url("binding_dark.png");
    background-repeat: repeat;
}

#page {
    border-radius: 6px;
    background-color: white;
    max-width: 900px;
    padding: 20px;
    margin: 30px auto 100px;
}

.container-fluid {
}

#templates {
    display: none;
}

#indexers {
   text-align: center;
   margin-top: 20px;
}

.indexer-table {
   text-align: left;
}

.test-success {
    color: #449d44;
}

.test-error {
    color: #c9302c;
}

.test-inprogress {
    color: #286090;
}

.indexer-buttons {
    text-align: center;
}

.indexer-buttons > .btn {
    margin-bottom: 2px;
}

.indexer-button-test {
   width: 60px;
}

.setup-item-inputstring {
    max-width: 255px;
}

.setup-item-inputcheckbox label {
    padding: 0 1.5em;
}

.setup-item-inputcheckbox input {
    height: 20px;
}

.setup-item-inputbool input {
    max-width: 100px;
    height: 20px;
}

.setup-item-inputselect {
    max-width: 255px;
}

[data-type=hiddendata]{
    display: none;
}

.spinner {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#setup-indexer-go {
    width: 70px;
}

hr {
    border-top-color: #cdcdcd;
}

.input-area {
    margin: 4px 0;
}

    .input-area > * {
        vertical-align: middle;
    }

    .input-area > p {
        margin-top: 10px;
    }

.input-header {
    font-size: 16px;
    width: 250px;
    display: inline-block;
}

.input-right {
    width: 300px;
    display: inline-block;
    font-family: monospace;
}

#sonarr-warning {
    display: none;
}

#logo {
    max-width: 50px;
}

#header-title {
    font-size: 34px;
    vertical-align: middle;
    padding-left: 15px;
}

#footer {
    color: #444444;
    margin: 10px auto 0;
    text-align: center;
}

#jackett-allowext, #jackett-allowupdate, #jackett-logging, #jackett-prerelease, #jackett-cache-enabled {
    width: 25px;
}

.modal-fillwidth {
    width: 1200px;
    min-width:80%;
}

.indexer-caps {
   padding: 0 15px 15px 15px;
   border-top: 1px solid #e5e5e5;
}

.indexer-caps table {
    border-bottom:   1px solid #ddd;
}

.jackettlog-narrowcol {
    width: 1px;
    white-space: nowrap;
    vertical-align: top;
}

.jackettlogWarn {
    background-color: #FFFF8E !important;
}

.jackettlogError {
    background-color: #FF6060 !important;
}

.jackettdownloaded {
    color: blueviolet;
}

.jacketdownloadlocal {
    padding-left: 10px;
}

.downloadcolumn {
    text-align:center;
}

pre {
    display: block;
    padding: 3px;
    margin: 0 0 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    word-break: normal;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.modal-open .modal {
    overflow-x: auto;  /* Model can be bigger than the screen on mobiles */
}

.dataTables_length {
    white-space: nowrap;
}

.dataTables_length select, .dataTables_filter input, .dataTable.compact tfoot td select {
    display: inline-block;
    height: 26px;
    padding: 0 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dataTables_length select {
    width: inherit;
}

.dataTables_filter input {
    width: 400px;
}

.dataTable.compact tfoot td {
    padding: 4px 0;
}

.dataTable.compact tfoot td select {
    height: 26px;
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 3px 9px !important;
}

#unconfigured-indexers-template {
    display: none;
}
.jackett-apikey{
    margin-top: 10px;
}

.jackett-apikey .input-header{
    width: 80px;
}

.setup-item-displayinfo:empty {
    display: none;
}

table td.fit{
    white-space: nowrap;
    width: 1%;
}

.label-imdb {
    background-color: #d0ab44;
}

.tooltip-inner {
    max-width: 500px !important;
}

.tooltip-inner img {
    max-width: 250px;
    height: auto;
}

.type-public {
    color: #449d44
}

.type-private {
    color: #c9302c
}

.type-semi-private {
    color: #ec971f
}

.dataTables_deadfilter {
    float: right;
    text-align: right;
    margin-right: 1em;
}

input#searchquery {
	width: 400px;
    display: inline-block;
}

#proxy-warning {
    color: red;
}
