body {
    background-image: url("/binding_dark.png");
    background-repeat: repeat;
}

#page {
    border-radius: 6px;
    background-color: white;
    max-width: 960px;
    padding: 30px;
    margin: 30px auto 100px;
}

#templates {
    display: none;
}

.indexer-table {
    text-align: left;
}

.indexer-buttons {
    text-align: center;
}

.indexer-button-test {
    min-width: 4.5rem;
}

[data-type=hiddendata] {
    display: none;
}

.setup-indexer-go {
    min-width: 5rem;
}

hr {
    border-top-color: #cdcdcd;
}

#sonarr-warning {
    display: none;
}

#logo {
    max-width: 3rem;
}

#jackett-title {
    font-size: 34px;
    vertical-align: middle;
    padding-left: 15px;
}

.modal-fillwidth {
    width: 90%;
    min-width: 80%;
}

.jackettdownloaded {
    color: blueviolet;
}

.jacketdownloadlocal {
    padding-left: 10px;
}

.downloadcolumn {
    text-align: center;
}

.modal-open .modal {
    overflow-x: auto;
    /* Model can be bigger than the screen on mobiles */
}

.dt-length {
    white-space: nowrap;
}

.dt-search input, select {
    display: inline-block;
    height: auto;
    padding: 0 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dt-length select {
    width: inherit;
}

.dt-search input {
    width: 100%;
}

.dataTable.table-sm tfoot td {
    padding: 4px 0;
}

.dataTable.table-sm tfoot td select {
    height: auto;
    padding: 0;
}

.dt-wrapper .dt-pagination .dt-paging-button {
    padding: 3px 9px !important;
}

.dataTables_deadfilter {
    float: right;
    text-align: right;
    margin-right: 1em;
}

.setup-item-displayinfo:empty {
    display: none;
}

table td.fit {
    white-space: nowrap;
    width: 1%;
}

.label-imdb {
    background-color: #d0ab44;
}

.label-tmdb {
    background-color: #7dbfd4;
}

.label-tvdb {
    background-color: #86cca8;
}

.label-tvmaze {
    background-color: #73c3bd;
}

.label-trakt {
    background-color: #ef1e25;
}

.label-douban {
    background-color: #86cc10;
}

.label-tag {
    text-transform: lowercase;
    background-color: #777;
}

.tagify .tagify__input {
    min-width: 0;
    text-transform: lowercase;
}

.tagify .tagify__tag-text {
    text-transform: lowercase;
}

#searchResults .indexers .error {
    color: Tomato;
}

#searchResults .indexers .no-results {
    color: Grey;
}

.m-2.row input.form-check-input {
    margin-top: 0.5rem;
    height: 1.6rem;
}

table thead th,
table thead td,
table tfoot th,
table tfoot td {
    border: none !important;
}

table {
    border-top: none;
}

.dropdown-item > a {
    color: var(--bs-body-color);
    text-decoration: none;
}

.dropdown-item.active > a {
    color: var(--bs-body-bg);
    text-decoration: none;
}

pre {
    white-space: pre-wrap;
}

.multiselect-native-select {
    width: auto !important;
    flex: none !important;
}

.btn-xs {
    padding: 0.125rem 0.25rem !important;
    font-size: 0.75rem !important;
    line-height: 1.25 !important;
    border-radius: 0.2rem !important;
}
