body {
    background-image: url("binding_dark.png");
    background-repeat: repeat;
}

#page {
    border-radius: 6px;
    background-color: white;
    max-width: 960px;
    padding: 20px;
    margin: 30px auto;
}

.container-fluid {}

#templates {
    display: none;
}

#indexers {
    text-align: center;
    margin-top: 20px;
}

.indexer-table {
    text-align: left;
}

.indexer-buttons {
    text-align: center;
}

.indexer-buttons > .btn {
    margin-bottom: 2px;
}

.indexer-button-test {
    min-width: 2.5rem;
}

.setup-item-inputstring {
    max-width: 100%;
}

.setup-item-password {
    max-width: 100%;
}

.setup-item-inputbool input {
    max-width: 100%;
    height: auto;
}

.setup-item-inputselect {
    max-width: 100%;
}

[data-type=hiddendata] {
    display: none;
}

#setup-indexer-go {
    min-width: 3rem;
}

hr {
    border-top-color: #cdcdcd;
}

.input-area {
    margin: 4px 0;
}

.input-area > * {
    vertical-align: middle;
}

.input-area > p {
    margin-top: 10px;
}

.input-header {
    font-size: 16px;
    width: 30%;
    display: inline-block;
}

.input-right {
    width: 60%;
    display: inline-block;
    font-family: monospace;
}

#sonarr-warning {
    display: none;
}

#logo {
    max-width: 3rem;
}

#header-title {
    font-size: 34px;
    vertical-align: middle;
    padding-left: 15px;
}

#footer {
    color: #444444;
    margin: 10px auto 0;
    text-align: center;
}

.modal-fillwidth {
    width: 100%;
    min-width: 80%;
}

.jackettlog-narrowcol {
    width: 1%;
    white-space: nowrap;
    vertical-align: top;
}

.jackettlogWarn {
    background-color: #FFFF8E !important;
}

.jackettlogError {
    background-color: #FF6060 !important;
}

.jackettdownloaded {
    color: blueviolet;
}

.jacketdownloadlocal {
    padding-left: 10px;
}

.downloadcolumn {
    text-align: center;
}

pre {
    display: block;
    padding: 3px;
    margin: 0 0 0;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    word-break: normal;
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.modal-open .modal {
    overflow-x: auto;
    /* Model can be bigger than the screen on mobiles */
}

.dataTables_length {
    white-space: nowrap;
}

.dataTables_filter input, select {
    display: inline-block;
    height: auto;
    padding: 0 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dataTables_length select {
    width: inherit;
}

.dataTables_filter input {
    width: 75%;
}

.dataTable.compact tfoot td {
    padding: 4px 0;
}

.dataTable.compact tfoot td select {
    height: auto;
    padding: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 3px 9px !important;
}

#unconfigured-indexers-template {
    display: none;
}

.setup-item-displayinfo:empty {
    display: none;
}

table td.fit {
    width: 50%;
}

.label-imdb {
    background-color: #d0ab44;
}

.label-tmdb {
    background-color: #7dbfd4;
}

.label-tvdb {
    background-color: #86cca8;
}

.label-tvmaze {
    background-color: #73c3bd;
}

.label-trakt {
    background-color: #ef1e25;
}

.label-douban {
    background-color: #86cc10;
}

.tooltip {
    pointer-events: none;
}

.tooltip-inner {
    max-width: 90% !important;
}

.tooltip-inner img {
    max-width: 100%;
    height: auto;
}

.type-public {
    color: #449d44
}

.type-private {
    color: #c9302c
}

.type-semi-private {
    color: #ec971f
}

.dataTables_deadfilter {
    float: right;
    text-align: right;
    margin-right: 1em;
}

div#jackett-search-results-datatable_wrapper {
    width: 100%;
    overflow-x: scroll;
}

div#unconfigured-indexer-datatable_wrapper {
    width: 100%;
    overflow-x: scroll;
}

div#jackett-releases-datatable_wrapper {
    width: 100%;
    overflow-x: scroll;
}

input#searchquery {
    width: 50%;
    display: inline-block;
}

#proxy-warning {
    color: red;
}

.label-tag {
    text-transform: lowercase;
    background-color: #777;
}

.tagify {
    height: auto;
}

.tagify .tagify__input {
    min-width: 0;
    text-transform: lowercase;
}

.tagify .tagify__tag-text {
    text-transform: lowercase;
}

#searchResults .indexers .error {
    color: Tomato;
}

#searchResults .indexers .no-results {
    color: Grey;
}

.m-2.row input.form-check-input {
    margin-top: 0.5rem;
    height: 1.5rem;
}
