author "sea3pea0"
description "Upstart Script to run NzbDrone as a service on Ubuntu/Debian based systems, as well as others"

#Set username for the process. Should probably be what you use for logging in
setuid {username to run jackett}
setgid users

#This is the install directory. If you installed using a deb package or the NzbDrone Repository you do not need to change this

env DIR=/opt/Jackett
env LD_LIBRARY_PATH=/usr/local/nzbdrone/lib

start on runlevel [2345]
stop on runlevel [016]

respawn
script
    chdir $DIR
    exec /volume1/@appstore/Mono/usr/bin/mono --debug JackettConsole.exe
end script
