@{
    ViewBag.Title = "Home Page";
}

<h4>What is Jackett?</h4>
<p>
    Jackett creates a <a href="https://github.com/Sonarr/Sonarr/wiki/Implementing-a-Torznab-indexer">Torznab</a> (with <a href="https://github.com/nZEDb/nZEDb/blob/master/docs/newznab_api_specification.txt">nZEDb</a> category numbering) and <a href="https://github.com/RuudBurger/CouchPotatoServer/wiki/Couchpotato-torrent-provider">TorrentPotato</a> API server on your machine. This enables supporting software to access your favorite torrent indexers in a similar fashion to rss but with added features such as searching.  To see the list of the trackers we support see our <a href="https://github.com/zone117x/Jackett">Github page</a>.
</p>

<div class="row center">
    <div class="col-xs-12">
        <a href="/Download">
            <div class="btn btn-primary"> <i class="fa fa-download"></i> Download</div>
        </a>
    </div>
</div>
<h4>We are on Github</h4>
<div class="row center">
    <div class="col-xs-8 center">
        <div class="row">
            <div class="col-xs-12">
                Follow development, report issues and contribute on our <a href="https://github.com/zone117x/Jackett">Github page</a>.
            </div>
            <br /><br />
            <!--<div class="col-xs-12">
                <a href="https://github.com/zone117x/Jackett">
                    <img alt="stars" src="https://img.shields.io/github/stars/zone117x/Jackett.svg?style=social" />
                    <img alt="followers" src="https://img.shields.io/github/followers/zone117x.svg?style=social" />
                    <img alt="forks" src="https://img.shields.io/github/forks/zone117x/Jackett.svg?style=social" />
                </a>
            </div>-->
        </div>
    </div>
    <div class="col-xs-4 center">
        <a href="https://github.com/zone117x/Jackett"><img alt="Github" src="~/Content/Web/Octocat.jpg" style="height:100px" /></a>
    </div>

</div>
<hr />
<h4>Applications with support for Jackett</h4>

<div class="row">
    <div class="col-xs-4 center">
        <a href="https://sonarr.tv">
            <img alt="Sonarr" src="~/Content/Web/sonarr.png" />
        </a>
    </div>
    <div class="col-xs-4 center">
        <a href="https://couchpota.to/">
            <img alt="Couchpotato" src="~/Content/Web/couchpotato.png" />
        </a>
    </div>
    <div class="col-xs-4 center">
        <a href="https://github.com/evilhero/mylar">
            <img alt="Mylar" src="~/Content/Web/mylar.png" />
        </a>
    </div>
</div>