<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin:/Library/Frameworks/Mono.framework/Versions/Current/Commands</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>org.user.Jackett</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Frameworks/Mono.framework/Versions/Current/Commands/mono</string>
		<string>--debug</string>
		<string>/Applications/Jackett/JackettConsole.exe</string>
		<string>--NoRestart</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WatchPaths</key>
	<array>
		<string>~/.config/Jackett/updater.txt</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Applications/Jackett/</string>
</dict>
</plist>
