<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.user.Jackett</string>
	<key>ProgramArguments</key>
	<array>
		<string>[Path to Mono]/Library/Frameworks/Mono.framework/Versions/Current/Commands/mono</string>
		<string>[Path to JackettConsole.exe]/Applications/Jackett/JackettConsole.exe</string>
	</array>
	<key>WorkingDirectory</key>
	<string>[Path to Jackett folder]/Applications/Jackett/</string>
	<key>RunAtLoad</key>
	<true/>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
