body {
    background-image: url("binding_dark.png");
    background-repeat: repeat;
}

#page {
    border-radius: 6px;
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 100px;
}

.container-fluid {
}

#templates {
    display: none;
}

.card {
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 2px #cdcdcd;
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    overflow: hidden;
    position: relative;
}

#indexers {
   text-align: center;
   margin-top: 30px;
}


#unconfigured-indexers{
   text-align: center;
}

#unconfigured-indexers .card {
    width: 200px;
    position: relative;
}

.unconfigured-indexer {
    height: 70px;
}



.indexer {
    height: 252px;
}

.add-indexer {
    border: 0;
}

.indexer-logo {
    padding-bottom: 5px;
}

.indexer-logo > .hidden-name {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    left: 0;
}

.indexer-logo  img {
    width: 100%;
    border-bottom: 1px solid #FFF;
}

#unconfigured-indexers .indexer-logo  img {
    cursor: pointer;
}

.indexer-name > h3 {
    margin-top: 13px;
    text-align: center;
}

.indexer-buttons {
    text-align: center;
}

.indexer-buttons > .btn {
    margin-bottom: 2px;
}

.indexer-button-test {
    width: 60px;
}

.indexer-add-content {
    color: gray;
    text-align: center;
}

    .indexer-add-content > .glyphicon {
        font-size: 50px;
        vertical-align: bottom;
    }

    .indexer-add-content > .light-text {
        margin-top: 11px;
        font-size: 18px;
        margin-left: -5px;
    }

.indexer-host {
    padding-left: 5px;
    padding-right: 5px;
}

.indexer-host > input {
    font-size: 12px;
    padding: 2px;
}

.setup-item-inputstring {
    max-width: 255px;
}

.setup-item-inputbool input {
    max-width: 100px;
    height: 20px;
}

[data-type=hiddendata]{
    display: none;
}

.spinner {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#setup-indexer-go {
    width: 70px;
}

hr {
    border-top-color: #cdcdcd;
}

.input-area {
    margin: 4px 0px;
}

    .input-area > * {
        vertical-align: middle;
    }

    .input-area > p {
        margin-top: 10px;
    }

.input-header {
    font-size: 18px;
    width: 160px;
    display: inline-block;
}

.input-right {
    width: 300px;
    display: inline-block;
    font-family: monospace;
}

#sonarr-warning {
    display: none;
}

#logo {
    max-width: 50px;
}

#header-title {
    font-size: 34px;
    vertical-align: middle;
    padding-left: 15px;
}

#footer {
    color: #444444;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#jackett-allowext, #jackett-allowupdate, #jackett-logging, #jackett-prerelease {
    width: 25px;
}

.modal-fillwidth {
    width: 1200px;
    min-width:80%;
}

.indexer-caps {
   padding: 0px 15px 15px 15px;
   border-top: 1px solid #e5e5e5;
}

.indexer-caps table {
    border-bottom:   1px solid #ddd;
}

.jackettlogWarn {
    background-color: #FFFF8E !important;
}

.jackettlogError {
    background-color: #FF6060 !important;
}

.jackettdownloaded {
    color: blueviolet;
}

.jacketdownloadlocal {
    padding-left: 10px;
}

.downloadcolumn {
    text-align:center;
}

pre {
    display: block;
    padding: 3px;
    margin: 0 0 0px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

.modal-open .modal {
    overflow-x: auto;  /* Model can be bigger than the screen on mobiles */
}

#unconfigured-indexers-template {
    display: none;
}
.jackett-apikey{
    margin-top: 10px;
}

.jackett-apikey .input-header{
    width: 80px;
}

.setup-item-displayinfo:empty {
    display: none;
}

