<template>
    <div class="jackett-irc">
        <div class="jackett-irc-networks">
            <div class="jackett-irc-network">
                <i class="fa fa-server"></i>Freenode
                <div class="jackett-irc-channel"><i class="fa fa-commenting-o"> Channel A</i></div>
                <div class="jackett-irc-channel"><i class="fa fa-commenting-o"> Channel A</i></div>
                <div class="jackett-irc-channel"><i class="fa fa-commenting-o"> Channel A</i></div>
            </div>
            <div class="jackett-irc-network">
                <i class="fa fa-server"></i>Freenode
                <div class="jackett-irc-channel"><i class="fa fa-commenting-o"> Channel A</i></div>
                <div class="jackett-irc-channel"><i class="fa fa-commenting-o"> Channel A</i></div>
                <div class="jackett-irc-channel"><i class="fa fa-commenting-o"> Channel A</i></div>
            </div>
        </div>
        <div class="jackett-irc-logs">
            <table>
                <tbody>
                    <tr>
                        <td class="jackett-irc-log-time">[20:11:05]</td>
                        <td class="jackett-irc-log-user">User 1</td>
                        <td class="jackett-irc-log-msg">Hello</td>
                    </tr>
                    <tr>
                        <td class="jackett-irc-log-time">[20:11:05]</td>
                        <td class="jackett-irc-log-user">User 1</td>
                        <td class="jackett-irc-log-msg">Hello</td>
                    </tr>
                    <tr>
                        <td class="jackett-irc-log-time">[20:11:05]</td>
                        <td class="jackett-irc-log-user">User 1</td>
                        <td class="jackett-irc-log-msg">Hello</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="jackett-irc-users">
            <div>@ User 1</div>
            <div>@ User 2</div>
            <div>@ User 3</div>
            <div>+ User 4</div>
            <div>+ User 5</div>
            <div>+ User 6</div>
            <div>User 7</div>
            <div>User 8</div>
            <div>User 9</div>
        </div>
    </div>
</template>