<template>
    <require from="../resources/MomentValueConverter"></require>
    <div class="jackett-irc">
        <div class="jackett-irc-networks">
            <div class="jackett-irc-network" repeat.for="network of networkStates" click.delegate="$parent.onNetworkClick(network)">
                <i class="fa fa-server"></i><span class="${network.IsSelected ? 'jackett-irc-selected' : ''}">${network.Name}</span>
                <div repeat.for="channel of network.Channels" class="jackett-irc-channel ${channel.IsSelected ? 'jackett-irc-selected' : ''}" click.delegate="$parent.$parent.onChannelClick(channel, $parent.network)"><i class="fa fa-commenting-o">${channel.Name}</i></div>
            </div>
        </div>
        <div class="jackett-irc-logs">
            <table>
                <tbody>
                    <tr repeat.for="message of messages">
                        <td class="jackett-irc-log-time">[${message.When | moment:'HH:ss'}]</td>
                        <td class="jackett-irc-log-user">${message.From}</td>
                        <td class="jackett-irc-log-msg"><pre>${message.Text}</pre></td>
                    </tr>
                </tbody>
            </table>
            <form role="form" submit.delegate="performCommand()">
                <input class="jackett-irc-command" type="text" ref="commandInput" />
            </form>
        </div>
        <div class="jackett-irc-users">
            <div repeat.for="user of users">${user.Nickname}</div>
        </div>
    </div>
</template>